language: scala
scala:
  - 2.12.11
jdk: openjdk11

before_cache:
  - rm -fv $HOME/.ivy2/.sbt.ivy.lock
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt        -name "*.lock"               -print -delete

cache:
  directories:
    - $HOME/.cache/coursier
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot/

script:
  - sbt ++$TRAVIS_SCALA_VERSION clean test;

notifications:
  email:
    - flatmap-squad@spotify.com
