name: CI
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Cache sbt
        uses: coursier/cache-action@v6
      - name: Java 8 setup
        uses: olafurpg/setup-scala@v13
        with:
          java-version: 1.8.0
      - run: sbt test
